*{
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
body{
    height: 2000px;
    font-family: 'Poppins', sans-serif;
    background: white;
}
.main-nav{
    background: white !important;
    min-height: 80px;
    border-radius: 40px;
    margin-top: 20px;
    z-index: 100 !important;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1) ;
}
.main-nav .logo img{
    width: 200px;
    height: 50px;
}
.main-nav .logo{
    float: left;
    margin-top: 18px !important;
    transition: all 0.03s ease 0s;
    margin-left: 18px;
}
.main-nav .nav{
    float: right;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 45px;
    transition: all 0,3s ease 0s;
    position: relative;
    z-index: 999;
}
.main-nav .nav li{
    padding-left: 18px;
    padding-right: 20px;
}
.main-nav .nav li a{
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}
.main-nav .nav li a:hover{
    color: deepskyblue;
}
.main-nav .menu-trigger{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 44px;
    width: 32px;
    height: 40px;
    text-shadow: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
}

.fluid_container{
    bottom: 0 !important;
    height: 100vh !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 0 !important;
    position: relative !important;
}
.secondText{
    font-size: 15px !important;
    width: 40% !important;
}
.camera_caption{
    top: 37% !important;
    left: 5% !important;
    font-size: 55px !important;
}
.camera_caption > div{
    background: transparent !important;
}
a.btn{
    font-size: 19px !important;
    margin-top: -150px !important;
    background: transparent !important;
    border: 2px solid white !important;    
    color: white !important;
    padding: 10px 25px !important;
    border-radius: 50px !important;
}
.camera_thumbs{
    margin-top: -100px !important;
    position: relative !important;
    z-index: 1 !important;
}
.camera_thumbs_cont{
    border: 0 !important;
    background: rgba(0, 0, 0, 0.2) !important;
}
/*----------------------Nosotros------------------------------------------------------------------------------------------*/
.wrap{
	width: 1200px;
	max-width: 90%;
	margin: 30px auto;
}
.tabs{
	background: #878c9f;
}
ul.tabs{
	width: 100%;
	background: #384f95;
	list-style: none;
	display: flex;
}
ul.tabs li{
	width: 18%;
}
ul.tabs li:hover{
	background: #7d93b2;
}
ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	background: #fff;
}

.secciones article{
	padding: 30px;
}

.secciones article p{
	text-align: justify;
}
.secciones article img{
	width: 500px;
	text-align: right;
}

@media screen and (max-width: 700px){
	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 20px;
	}
}
/*--------Valores---------------------------------------------------------------------------------------------------------*/
.valores{
	float: left;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: #7d93b2;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: #007aff;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #007aff;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #007aff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: 0px;
	padding-right: 10px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: #007aff;
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:#007aff;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #384f95;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}



